* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.header {
  position: relative;
  left: 0;
  right: 0;
  height: 50px;
  background-color: gray;
  color: white;
}

.Picture {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.Logo {
  position: absolute;
  height: 50px;
  left: 5%;
}

.StupacPrvi {
  position: relative;
  left: 20%;
  height: 50px;
}

.StupacDrugi {
  position: relative;
  left: 40%;
  height: 50px;
  top: -50px;
}

#UmakPrvi {
  position: absolute;
  top: 0;
  bottom: 66.6%;
  height: 33.3%;
}
#UmakDrugi {
  position: absolute;
  top: 33.3%;
  bottom: 33.3%;
  height: 33.3%;
}
#UmakTreci {
  position: absolute;
  top: 66.6%;
  bottom: 0%;
  height: 33.3%;
}
#UmakCetvrti {
  position: absolute;
  top: 0;
  bottom: 66.6%;
  height: 33.3%;
}
#UmakPeti {
  position: absolute;
  top: 33.3%;
  bottom: 33.3%;
  height: 33.3%;
}

span {
  display: inline-block;
}

.poruka {
  position: absolute;
  right: 16%;
  bottom: 0;
  top: 0;
}
.telefon {
  position: absolute;
  right: 12%;
  bottom: 0;
  top: 0;
}
.upitnik {
  position: absolute;
  right: 8%;
  bottom: 0;
  top: 0;
}
.hiza {
  position: absolute;
  right: 4%;
  bottom: 0;
  top: 0;
}
.onoff {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
}
.topnav {
  overflow: hidden;
  background-color: cyan;
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.pogled {
  position: relative;
  left: 0;
  height: 80px;
}
#textpogled {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  bottom: 50%;
  height: 50%;
}
#formapogled {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  height: 35%;
}

.pencil {
  position: absolute;
  left: 10%;
  bottom: 0;
  top: 60%;
}

.download {
  position: absolute;
  left: 12%;
  bottom: 0;
  top: 60%;
}

.arrows {
  position: absolute;
  left: 14%;
  bottom: 0;
  top: 60%;
}

.lista {
  position: absolute;
  left: 16%;
  bottom: 0;
  top: 60%;
}

.datum {
  position: absolute;
  top: 35%;
  left: 18%;
  bottom: 0;
  height: 35%;
}
.naziv {
  position: absolute;
  top: 35%;
  left: 32%;
  bottom: 0;
  height: 35%;
}

.sadrzaj {
  position: absolute;
  top: 35%;
  left: 44%;
  bottom: 0;
  height: 35%;
}

.Koledar {
  position: absolute;
  left: 30%;
  bottom: 0;
  top: 60%;
}
.podrocje {
  position: absolute;
  left: 56%;
  top: 35%;
}
.senf {
  position: relative;
  background-color: lightgray;
  left: 33%;
}

#novosti {
  position: absolute;
  left: 0;
}
.procitaj button {
  position: absolute;
  left: 0;
  background-color: rgb(101, 101, 250);
  color: white;
}
table {
  border-collapse: collapse;
}
th {
  border-bottom: 1px solid black;
}
tr:hover {
  background-color: darkgray;
}
